<div class="container">
  <h2 class="my-4"><%= @poster.title %></h2>

  <%= render partial: 'posters/poster', locals: { poster: @poster } %>
  <%= link_to 'Back to Image', composite_images_path, class: 'btn btn-secondary' %>
</div>
