<div class="container">
  <h2 class="my-4">Poster一覧</h2>

  <div class="row">
    <% @posters.each do |poster| %>
      <div class="col-md-2 mb-3">
        <%= link_to image_tag(poster.image.url, class: 'img-fluid', size: "200x100"), admin_poster_path(poster) %>
      </div>
    <% end %>
  </div>
</div>
