/* 共通のスタイル */
.navbar {
    background-color: #AFF4C6; /* 薄い緑の背景色を指定 */
    padding: 20px 0; /* 適切な余白を追加 */
}
.footer {
    background-color: #757575; /* 薄い緑の背景色を指定 */
    padding: 20px 0; /* 適切な余白を追加 */
    color: white; 
}

.footer a {
    color: white; /* すべてのリンクの色も白に設定 */
  }
  
  .footer a:hover {
    color: #ccc; /* ホバー時の色は薄い灰色に設定、必要に応じて調整 */
  }

/* 共通のリストスタイル */
.navbar ul, .footer ul {
    margin: 0; /* リストのマージンをリセット */
    padding: 0; /* リストのパディングをリセット */
}

/* 共通のリストアイテムスタイル */
.navbar ul li, .footer ul li {
    list-style: none; /* リストのマーカー（記号）を非表示 */
    margin-bottom: 10px; /* リンク間の余白を調整 */
}

/* 共通の小さなパレグラフスタイル */
.navbar p.small, .footer p.small {
    margin: 0; /* パレグラフのマージンをリセット */
}

 /* margin打消 */
  .no-margin {
    margin-bottom: 0; /* ボトムマージンを無効にする */
  }

  /* top画像幅の設定 */
  .swiper-slide {
    position: relative;
    width: 100%;
  }
  
    /* top画像にグレーをかける*/
  .swiper-slide::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* グレーのオーバーレイ */
  }

  /* top画像幅の設定 */
  .overlay-with-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; /* スワイパースライドより上になるように */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    pointer-events: none; /* オーバーレイをクリックスルー可能に */
  }
  
  .centered-logo {
    max-width: 200px; /* 必要に応じて調整 */
    pointer-events: auto; /* 必要に応じてロゴ自体と対話できるように */
  }
  
  body {
    background-color: #ece9e2; /* クリーム色の灰色 */
    font-family: 'dnp-shuei-mgothic-std', sans-serif; /* Noto Sans JPを適用、利用する前にGoogle Fontsからインポートが必要です */
  }

  html, body {
    height: 100%;
    margin: 0;
  }
  .wrapper { 
    min-height: 100%;
  }
  
  .header {
    opacity: 0.8;
    position: sticky;
    top: 0vh;
  }
  
  .footer {
    opacity: 0.8;
    position: sticky;
    top: 100vh;
  }

  /*出典URL */

  .image-container {
    position: relative;
    padding: 5px; /* 画像間のスペースを調整 */
  }
  
  .image-container .img-fluid {
    margin-bottom: 10px; /* 画像の下のスペースを追加 */
  }
  
  .source-text {
    position: absolute;
    bottom: 8px; /* 下からの距離 */
    right: 8px; /* 左からの距離 */
    background-color: rgba(255, 255, 255, 0.8); /* 背景色を半透明に */
    padding: 2px 5px; /* 内側の余白 */
    font-size: 10px; /* フォントサイズを小さく */
  }

  .img-fluid {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* X軸のオフセット, Y軸のオフセット, ブラーの大きさ, 色 */
  }
  

/*ログインボタン*/

  .login-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #77C3A3; /* Bootstrapのブルー */
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 20px; /* 角の丸み */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 影をつける */
    font-weight: bold;
    transition: background-color 0.2s; /* 色の変化にアニメーションをつける */
  }
  
  .login-button:hover {
    background-color: #77c3a3db; /* ホバー時の色 */
  }
  
  /* googleボタン */
  .google-signin-btn {
    width: 190px; /* お好みのサイズに */
    height: auto; /* 画像の比率を維持 */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* 影のスタイルを定義 */
    border: none;
    background: none;
    cursor: pointer;
    display: block; /* または inline-block にすると、元の文書フロー内に表示されます */
  }
  
  .btn-responsive {
    width: 100%; /* ボタンの幅を親要素に合わせます */
    min-width: 150px; /* ボタンの最小幅を設定します */
    max-width: 300px; /* ボタンの最大幅を設定します */
  }

  /*　質問ボタン　*/
  .buttonF {
    border-radius: .5em;
    box-shadow: 0 6px #2c5225;
    top: 0;
    transition: .2s box-shadow,.2s top,.4s background;
  }
  .buttonF:hover {
    box-shadow: 0 5px #2c5225;
    top: 1px;
  }
  .buttonF:active {
    background-color: #2c5225;
    box-shadow: 0 0 #2c5225;
    top: 6px;
  }
  @media (max-width: 768px) {
    .btn-responsive {
      width: auto; /* スマートフォンなどの小さい画面での幅を自動に設定します */
    }
  }

  .btn-outline-primary {
    color: #254423; /* ボタンのテキスト色を変更 */
    border-color: #6BB362; /* ボタンのボーダー色を変更 */
  }

  .btn-outline-primary:hover {
    color: #fff; /* ホバー時のテキスト色を白に変更 */
    background-color: #6BB362; /* ホバー時の背景色を変更 */
    border-color: #6BB362; /* ホバー時のボーダー色も同じ色に変更 */
  }

  .btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(107, 179, 98, 0.5); /* フォーカス時のシャドウの色を変更 */
  }

  /* アクティブ状態や、訪問済みリンク状態のスタイルを定義する場合は、以下のルールも追加 */
  .btn-outline-primary:active, .btn-outline-primary.active,
  .btn-outline-primary:not(:disabled):not(.disabled).active,
  .btn-outline-primary:not(:disabled):not(.disabled):active,
  .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #6BB362;
    border-color: #6BB362;
  }
  
  /* リンク訪問済み時のスタイルも変更する場合は、以下のルールを追加 */
  .btn-outline-primary:visited {
    color: #6BB362;
  }

  
