<footer class="footer" class="overflow-hidden padding-large">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <ul class="list-unstyled">
          <li><%= link_to "お問い合わせ", new_contact_path %></li>
          <li><%= link_to "利用規約", page_path('terms') %></li>
          <li><%= link_to "プライバシーポリシー", page_path('privacy') %></li>
        </ul>
      </div>
      <div class="col-md-3 text-md-right">
        <p class="small no-margin">Copyright © 2025. Frame Select</p>
      </div>
    </div>
  </div>
</footer>