<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <ul class="list-unstyled">
          <li><%= link_to "お問い合わせ", "#" %></li>
          <li><%= link_to "利用規約", "#" %></li>
          <li><%= link_to "プライバシーポリシー", "#" %></li>
        </ul>
      </div>
      <div class="col-md-3 text-md-right">
        <p class="small">Copyright © 2023. Frame Select</p>
      </div>
    </div>
  </div>
</footer>
