<header>
  <nav>
    <ul>
    <%= image_tag("logo.jpg") %>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'About', "#" %></li>
      <li><%= link_to 'Contact', "#" %></li>
      <!-- 他のリンクを追加 -->
    </ul>
  </nav>
</header>