<!-- app/views/home/index.html.erb -->

<div class="container">
  <%= image_tag("sample.jpeg", alt: "Sample Image", class: 'img-fluid') %>

  <h1 class="display-4">あなたの部屋にあったポスターを</h1>
  <p class="lead">
    インテリアにあったポスターや絵画を<br>
    提案してくれるアプリです<br>
    統一感のある部屋の作り出すために<br>
    ポスターを選んでみよう
  </p>

  <%= link_to "インテリアをアップロードする", "#", class: "btn btn-primary mt-3" %>
</div>

