<div class="container mt-5">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <%= image_tag("swiper1.jpg", alt: "swiper Image", class: 'img-fluid') %>
      </div>
      <div class="swiper-slide">
        <%= image_tag("swiper2.jpg", alt: "swiper Image", class: 'img-fluid') %>
      </div>
      <div class="swiper-slide">
        <%= image_tag("swiper3.jpg", alt: "swiper Image", class: 'img-fluid') %>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <h1 class="display-4 mt-4">あなたの部屋にあったポスターを</h1>
  <p class="lead">
    インテリアにあったポスターや絵画を<br>
    提案してくれるアプリです<br>
    統一感のある部屋の作り出すために<br>
    ポスターを選んでみよう
  </p>

  <%= link_to "インテリアをアップロードする", new_room_path, class: "btn btn-primary mt-3" %>

  <div class="row mt-4">
    <div class="col-12 col-md-6 mb-3">
      <div class="d-flex align-items-center">
        <i class="fas fa-thin fa-filter mr-2" style="font-size: 2em;"></i>
        <p class="mb-0">フィルターモード：デザインタイプを選択することで、好みのポスター/絵画を提案</p>
      </div>
    </div>
    <div class="col-12 col-md-6 mb-3">
      <div class="d-flex align-items-center">
        <i class="fas fa-thin fa-robot mr-2" style="font-size: 2em;"></i>
        <p class="mb-0">レコメンドモード：部屋のインテリアに合ったポスター/絵画を色彩アルゴリズムを用いて提案</p>
      </div>
    </div>
  </div>
</div>


