<!-- app/views/home/index.html.erb -->

<%= image_tag("sample.jpeg", alt: "Sample Image") %>

<h1>あなたの部屋にあったポスターを</h1>
<p>インテリアにあったポスターや絵画を</p>
<p>提案してくれるアプリです</p>
<p>統一感のある部屋の作り出すために</p>
<p>ポスターを選んでみよう</p>

<%= link_to "インテリアをアップロードする", "#" %>
