<h1>回答完了</h1>
<%= link_to "合成画像",composite_images_path %>
<div class="row">
  <% @posters.each do |poster| %>
    <div class="col-md-2 mb-3">
      <%= link_to image_tag(poster.image.url, class: 'img-fluid', size: "200x100") %>
    </div>
  <% end %>
</div>