/* 共通のスタイル */
.navbar {
    background-color: #AFF4C6; /* 薄い緑の背景色を指定 */
    padding: 20px 0; /* 適切な余白を追加 */
}
.footer {
    background-color: #757575; /* 薄い緑の背景色を指定 */
    padding: 20px 0; /* 適切な余白を追加 */
    color: white; 
}

.footer a {
    color: white; /* すべてのリンクの色も白に設定 */
  }
  
  .footer a:hover {
    color: #ccc; /* ホバー時の色は薄い灰色に設定、必要に応じて調整 */
  }

/* 共通のリストスタイル */
.navbar ul, .footer ul {
    margin: 0; /* リストのマージンをリセット */
    padding: 0; /* リストのパディングをリセット */
}

/* 共通のリストアイテムスタイル */
.navbar ul li, .footer ul li {
    list-style: none; /* リストのマーカー（記号）を非表示 */
    margin-bottom: 10px; /* リンク間の余白を調整 */
}

/* 共通の小さなパレグラフスタイル */
.navbar p.small, .footer p.small {
    margin: 0; /* パレグラフのマージンをリセット */
}

 /* margin打消 */
  .no-margin {
    margin-bottom: 0; /* ボトムマージンを無効にする */
  }
  
  body {
    background-color: #f1f1e3; /* クリーム色の灰色 */
    font-family: 'Noto Sans JP', sans-serif; /* Noto Sans JPを適用、利用する前にGoogle Fontsからインポートが必要です */
  }

  html, body {
    height: 100%;
    margin: 0;
  }
  .wrapper { 
    min-height: 100%;
  }
  
  .header {
    opacity: 0.8;
    position: sticky;
    top: 0vh;
  }
  
  .footer {
    opacity: 0.8;
    position: sticky;
    top: 100vh;
  }

  /*出典URL */

  .image-with-source {
    position: relative;
    display: inline-block; /* または必要に応じて別のレイアウト */
  }
  
  .source-text {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.4); /* 半透明の背景 */
    padding: 1px 3px;
    font-size: 8px;
  }

  
  .login-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #77C3A3; /* Bootstrapのブルー */
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 20px; /* 角の丸み */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 影をつける */
    font-weight: bold;
    transition: background-color 0.2s; /* 色の変化にアニメーションをつける */
  }
  
  .login-button:hover {
    background-color: #77c3a3db; /* ホバー時の色 */
  }
  
  /* googleボタン */
  .google-signin-btn {
    width: 190px; /* お好みのサイズに */
    height: auto; /* 画像の比率を維持 */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* 影のスタイルを定義 */
    border: none;
    background: none;
    cursor: pointer;
    display: block; /* または inline-block にすると、元の文書フロー内に表示されます */
  }
  