@import "bootstrap";
@import "font-awesome";

/* 共通のスタイル */
.navbar {
    background-color: #7bd47f; /* 薄い緑の背景色を指定 */
    padding: 20px 0; /* 適切な余白を追加 */
}
.footer {
    background-color: #afafaf; /* 薄い緑の背景色を指定 */
    padding: 20px 0; /* 適切な余白を追加 */
}

/* 共通のリストスタイル */
.navbar ul, .footer ul {
    margin: 0; /* リストのマージンをリセット */
    padding: 0; /* リストのパディングをリセット */
}

/* 共通のリストアイテムスタイル */
.navbar ul li, .footer ul li {
    list-style: none; /* リストのマーカー（記号）を非表示 */
    margin-bottom: 10px; /* リンク間の余白を調整 */
}

/* 共通の小さなパレグラフスタイル */
.navbar p.small, .footer p.small {
    margin: 0; /* パレグラフのマージンをリセット */
}


.swiper {
    width: 100%;
    height: 300px;
  }
   /* 全体のスタイル */
  .swiper-wrapper {
      width: 100%;
      height: 250px;
  }
  /* 全スライド共通スタイル */
  .swiper-slide {
      color: #ffffff;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 250px;
  }
 /* margin打消 */
  .no-margin {
    margin-bottom: 0 !important; /* ボトムマージンを無効にする */
  }