<h1>マッチした結果</h1>
<div class="container">
  <div class="row">
    <% @composite_images.each do |composite_image| %>
      <div class="col-md-4 mb-3 image-container">
        <%= link_to composite_image_path(composite_image) do %>
          <%= image_tag composite_image.composite_image.url, class: 'img-fluid' %>
          <div class="source-text">
            画像出典：
            <%= link_to "Amazon.co.jp", composite_image.poster.url, target: "_blank" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>