<div class="col-md-4 mb-3 image-container">
    <%= link_to image_tag(@composite_image.composite_image.url, class: 'img-fluid'), poster_path(@composite_image.poster_id),class: 'img-fluid' %>
    <div class="source-text">
    画像出典：
      <%= link_to "Amazon.co.jp", @composite_image.poster.url, target: "_blank" %>
    </div>
  </div>
  <div class="container">
    <div class="d-flex justify-content-center">
      <%= link_to '保存する', save_composite_image_path(@composite_image), class: "btn btn-primary mt-3 btn-lg w-100", data: { "turbo-method": :post } %>
    </div>
    <div class="d-flex justify-content-center">
      <%= link_to '画像一覧に戻る', composite_images_path, class: "btn btn-primary mt-3 btn-lg w-100" %>
    </div>
  </div>
